@import url('https://fonts.googleapis.com/css2?family=Changa:wght@700&family=Open+Sans:wght@300;500&display=swap');

body{
    width:850px;
    margin: 0 auto;
    font-family: 'open sans', sans-serif;
}

main{
    height: 450px;
    background-image: url(./space.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height:324px;
    display:flex;
    justify-content: space-around;
    background-color: #cccccc;
}

h1{ 
    font-family: 'changa', sans-serif;
    color: white;
    font-size: 80px; 
}

h3{
    
    font-weight:500;
    text-transform: uppercase;
}

p{
    font-weight:300;
    font-size: 14px;
    line-height: 15px;
    color:rgb(97, 97, 97);
}

.button{
    background-color: rgb(255, 213, 0);
    padding: 6px;
    min-height:30px;
    min-width: 80px;
}

.button:hover{
    background-color:aqua;
}